# Data Cleaning

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import seaborn as sns
import matplotlib.pylab as plt
import plotly.express as px

import copy

import warnings
warnings.filterwarnings("ignore")

In [305]:
df = pd.read_csv('Flights1_2019_1.csv')
df = df.drop(['Unnamed: 17'], axis=1)
df.columns

Index(['YEAR', 'DAY_OF_WEEK', 'FL_DATE', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN_CITY_NAME',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID',
       'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEP_DELAY', 'ARR_TIME',
       'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15'],
      dtype='object')

In [306]:
df['ORIGIN_STATE_ABR'] = df['ORIGIN_CITY_NAME'].str[-2:]

df['DAY_OF_WEEK_STR'] = np.where(df['DAY_OF_WEEK'] == 1, 'Mon', df['DAY_OF_WEEK'])
df['DAY_OF_WEEK_STR'] = np.where(df['DAY_OF_WEEK'] == 2, 'Tue', df['DAY_OF_WEEK_STR'])
df['DAY_OF_WEEK_STR'] = np.where(df['DAY_OF_WEEK'] == 3, 'Wed', df['DAY_OF_WEEK_STR'])
df['DAY_OF_WEEK_STR'] = np.where(df['DAY_OF_WEEK'] == 4, 'Thu', df['DAY_OF_WEEK_STR'])
df['DAY_OF_WEEK_STR'] = np.where(df['DAY_OF_WEEK'] == 5, 'Fri', df['DAY_OF_WEEK_STR'])
df['DAY_OF_WEEK_STR'] = np.where(df['DAY_OF_WEEK'] == 6, 'Sat', df['DAY_OF_WEEK_STR'])
df['DAY_OF_WEEK_STR'] = np.where(df['DAY_OF_WEEK'] == 7, 'Sun', df['DAY_OF_WEEK_STR'])

df['DEP_DELAY_NEW'] = np.where(df['DEP_DELAY'] <= 0, 0, df['DEP_DELAY'])
df['DEP_DEL15'] = np.where(df['DEP_DELAY'] >= 15, 1, 0)
df['DEP_DEL15'] = np.where(df['DEP_DELAY'].isna(), np.NAN, df['DEP_DEL15'])

In [ ]:
df

,YEAR,DAY_OF_WEEK,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,...,DEST_STATE_ABR,DEP_DELAY,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,ORIGIN_STATE_ABR,DAY_OF_WEEK_STR,DEP_DELAY_NEW,DEP_DEL15
0,2019,6,2019-01-19,13487,1348702,31650,"Minneapolis, MN",11193,1119302,33105,...,KY,-10.0,1832.0,-25.0,0.0,0.0,MN,Sat,0.0,0.0
1,2019,7,2019-01-20,13487,1348702,31650,"Minneapolis, MN",11193,1119302,33105,...,KY,-4.0,1825.0,-37.0,0.0,0.0,MN,Sun,0.0,0.0
2,2019,1,2019-01-21,13487,1348702,31650,"Minneapolis, MN",11193,1119302,33105,...,KY,-9.0,1845.0,-17.0,0.0,0.0,MN,Mon,0.0,0.0
3,2019,2,2019-01-22,13487,1348702,31650,"Minneapolis, MN",11193,1119302,33105,...,KY,-4.0,1839.0,-23.0,0.0,0.0,MN,Tue,0.0,0.0
4,2019,3,2019-01-23,13487,1348702,31650,"Minneapolis, MN",11193,1119302,33105,...,KY,-6.0,1850.0,-12.0,0.0,0.0,MN,Wed,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527746,2019,2,2019-01-15,13204,1320402,31454,"Orlando, FL",12953,1295304,31703,...,NY,0.0,2218.0,0.00,0.0,0.0,FL,Tue,0.0,0.0
527747,2019,2,2019-01-15,10397,1039707,30397,"Atlanta, GA",13232,1323202,30977,...,IL,-2.0,2137.0,-3.00,0.0,0.0,GA,Tue,0.0,0.0
527748,2019,2,2019-01-15,12889,1288903,32211,"Las Vegas, NV",12478,1247805,31703,...,NY,-1.0,40.0,-17.00,0.0,0.0,NV,Tue,0.0,0.0
527749,2019,2,2019-01-15,10397,1039707,30397,"Atlanta, GA",14524,1452401,34524,...,VA,-3.0,844.0,-11.00,0.0,0.0,GA,Tue,0.0,0.0
527750,2019,2,2019-01-15,14524,1452401,34524,"Richmond, VA",10397,1039707,30397,...,GA,-4.0,1107.0,-,NaN,NaN,VA,Tue,0.0,0.0

In [ ]:
df["DEP_DEL15"].unique()

array([ 0.,  1., nan])

In [ ]:
df.columns

Index(['YEAR', 'DAY_OF_WEEK', 'FL_DATE', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN_CITY_NAME',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID',
       'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEP_DELAY', 'ARR_TIME',
       'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'ORIGIN_STATE_ABR',
       'DAY_OF_WEEK_STR', 'DEP_DELAY_NEW', 'DEP_DEL15'],
      dtype='object')

In [ ]:
df["ORIGIN_AIRPORT_ID"].nunique()

345

In [ ]:
df.isna().sum()

YEAR                         0
DAY_OF_WEEK                  0
FL_DATE                      0
ORIGIN_AIRPORT_ID            0
ORIGIN_AIRPORT_SEQ_ID        0
ORIGIN_CITY_MARKET_ID        1
ORIGIN_CITY_NAME             1
DEST_AIRPORT_ID              1
DEST_AIRPORT_SEQ_ID          1
DEST_CITY_MARKET_ID          1
DEST_CITY_NAME               1
DEST_STATE_ABR               1
DEP_DELAY                14635
ARR_TIME                 15301
ARR_DELAY                16184
ARR_DELAY_NEW            16184
ARR_DEL15                16184
ORIGIN_STATE_ABR             1
DAY_OF_WEEK_STR              0
DEP_DELAY_NEW            14635
DEP_DEL15                14635
dtype: int64

In [ ]:
df_withoutNAN = copy.deepcopy(df)

df_withoutNAN = df_withoutNAN.dropna(subset=['DEP_DELAY'])
df_withoutNAN = df_withoutNAN.dropna(subset=['ARR_TIME'])
df_withoutNAN = df_withoutNAN.dropna(subset=['ARR_DELAY'])

df_withoutNAN.shape

(519946, 21)

In [ ]:
from google.colab import files
df.to_csv('Flights_2019_v2.csv', encoding = 'utf-8-sig')
files.download('Flights_2019_v2.csv')

# Expand data

## Add Airport Codes

In [ ]:
import math

In [ ]:
def truncate_decimals(num, decimals):
    if math.isnan(num):
        return num
    factor = 10 ** decimals
    return int(num * factor) / factor

In [324]:
list_ids = np.concatenate((df["ORIGIN_AIRPORT_ID"], df["DEST_AIRPORT_ID"]))
len(np.unique(list_ids))

346

In [336]:
A_df = pd.read_csv('AIRPORT_COORDINATES.csv')
A_df['DISPLAY_AIRPORT_NAME'] = A_df['DISPLAY_AIRPORT_NAME'].str.replace("Airport", '')
A_df['DISPLAY_AIRPORT_NAME'] = A_df['DISPLAY_AIRPORT_NAME'].str.replace("-", ' ')
A_df['DISPLAY_AIRPORT_NAME'] = A_df['DISPLAY_AIRPORT_NAME'].str.replace("/", ' ')
A_df['LATITUDE']=  A_df['LATITUDE'].apply(truncate_decimals, decimals=2)
A_df['LONGITUDE']=  A_df['LONGITUDE'].apply(truncate_decimals, decimals=2)
#A_df['LATITUDE']= A_df['LATITUDE'].round(2)
#A_df['LONGITUDE'] = A_df['LONGITUDE'].round(2)
A_df = A_df.loc[A_df['ORIGIN_AIRPORT_ID'].isin(list_ids)].drop_duplicates()
A_df.head()

     ORIGIN_AIRPORT_ID               DISPLAY_AIRPORT_NAME  LATITUDE  LONGITUDE
180              10135        Lehigh Valley International     40.65     -75.43
181              10135        Lehigh Valley International     40.65     -75.44
186              10136                   Abilene Regional     32.40     -99.67
187              10136                   Abilene Regional     32.41     -99.68
201              10140  Albuquerque International Sunport     35.04    -106.60

In [335]:
B_df = pd.read_csv('airport_codes.csv')
B_df['Name'] = B_df['Name'].str.replace("Airport", '')
B_df['Name'] = B_df['Name'].str.replace("-", ' ')
B_df['Name'] = B_df['Name'].str.replace("/", ' ')
B_df['Latitude']=  B_df['Latitude'].apply(truncate_decimals, decimals=2)
B_df['Longitude']= B_df['Longitude'].apply(truncate_decimals, decimals=2)
#B_df['Latitude']= B_df['Latitude'].round(2)
#B_df['Longitude']= B_df['Longitude'].round(2)
B_df.head()

,Name,City,Country,IATA,ICAO,Latitude,Longitude
0,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.08,145.39
1,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.20,145.78
2,Mount Hagen Kagamuga,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.82,144.29
3,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.56,146.72
4,Port Moresby Jacksons International,Port Moresby,Papua New Guinea,POM,AYPY,-9.44,147.22

In [ ]:
new_df = pd.merge(A_df, B_df, how="inner", left_on=['LATITUDE','LONGITUDE'], right_on = ['Latitude','Longitude'])
new_df = new_df.drop([ 'City', 'Country'], axis=1)
new_df = new_df.drop_duplicates()

A_df['LATITUDE']=  A_df['LATITUDE'].apply(truncate_decimals, decimals=1)
A_df['LONGITUDE']=  A_df['LONGITUDE'].apply(truncate_decimals, decimals=1)
B_df['Latitude']=  B_df['Latitude'].apply(truncate_decimals, decimals=1)
B_df['Longitude']= B_df['Longitude'].apply(truncate_decimals, decimals=1)

new_df2 = pd.merge(A_df, B_df, how="left", left_on=['LATITUDE','LONGITUDE'], right_on = ['Latitude','Longitude'])
new_df2 = new_df2.loc[~new_df2['ORIGIN_AIRPORT_ID'].isin(new_df["ORIGIN_AIRPORT_ID"])].drop_duplicates().dropna()

new_df = pd.concat([new_df, new_df2])

In [320]:
new_df = new_df.drop([ 'City', 'Country', 'DISPLAY_AIRPORT_NAME', "LATITUDE", "LONGITUDE"], axis=1)
new_df

,ORIGIN_AIRPORT_ID,Name,IATA,ICAO,Latitude,Longitude
0,10135,Lehigh Valley International,ABE,KABE,40.65,-75.44
1,10136,Abilene Regional,ABI,KABI,32.41,-99.68
2,10140,Albuquerque International Sunport,ABQ,KABQ,35.04,-106.60
3,10141,Aberdeen Regional,ABR,KABR,45.44,-98.42
4,10146,Southwest Georgia Regional,ABY,KABY,31.53,-84.19
...,...,...,...,...,...,...
496,14307,Theodore Francis Green State,PVD,KPVD,41.70,-71.40
522,14679,San Diego International,SAN,KSAN,32.70,-117.10
523,14679,San Diego International,SAN,KSAN,32.70,-117.10
577,14955,Saipan International,SPN,PGSN,15.10,145.70
578,14955,Saipan International,SPN,PGSN,15.10,145.70

In [ ]:
#duplicate_mask.groupby('DISPLAY_AIRPORT_NAME').filter(lambda group: group['DISPLAY_AIRPORT_NAME'].count() > 1)

In [321]:
new_df.isna().sum()

ORIGIN_AIRPORT_ID    0
Name                 0
IATA                 0
ICAO                 0
Latitude             0
Longitude            0
dtype: int64

In [322]:
new_df.nunique()

ORIGIN_AIRPORT_ID    346
Name                 346
IATA                 346
ICAO                 346
Latitude             320
Longitude            339
dtype: int64

In [327]:
new_df

,ORIGIN_AIRPORT_ID,ORIGIN_Name,ORIGIN_IATA,ORIGIN_ICAO,ORIGIN_Latitude,ORIGIN_Longitude
0,10135,Lehigh Valley International,ABE,KABE,40.65,-75.44
1,10136,Abilene Regional,ABI,KABI,32.41,-99.68
2,10140,Albuquerque International Sunport,ABQ,KABQ,35.04,-106.60
3,10141,Aberdeen Regional,ABR,KABR,45.44,-98.42
4,10146,Southwest Georgia Regional,ABY,KABY,31.53,-84.19
...,...,...,...,...,...,...
496,14307,Theodore Francis Green State,PVD,KPVD,41.70,-71.40
522,14679,San Diego International,SAN,KSAN,32.70,-117.10
523,14679,San Diego International,SAN,KSAN,32.70,-117.10
577,14955,Saipan International,SPN,PGSN,15.10,145.70
578,14955,Saipan International,SPN,PGSN,15.10,145.70

In [332]:
new_df.columns = ["ORIGIN_AIRPORT_ID", "ORIGIN_Name", "ORIGIN_IATA", "ORIGIN_ICAO", "ORIGIN_Latitude", "ORIGIN_Longitude"]
df2 = pd.merge(df, new_df, how="left", left_on=['ORIGIN_AIRPORT_ID'], right_on = ['ORIGIN_AIRPORT_ID']).drop_duplicates()

new_df.columns = ["DEST_AIRPORT_ID", "DEST_Name", "DEST_IATA", "DEST_ICAO", "DEST_Latitude", "DEST_Longitude"]
df2 = pd.merge(df2, new_df, how="left", left_on=['DEST_AIRPORT_ID'], right_on = ['DEST_AIRPORT_ID']).drop_duplicates()

df2.columns

Index(['YEAR', 'DAY_OF_WEEK', 'FL_DATE', 'ORIGIN_AIRPORT_ID',
       'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID', 'ORIGIN_CITY_NAME',
       'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID',
       'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEP_DELAY', 'ARR_TIME',
       'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'ORIGIN_STATE_ABR',
       'DAY_OF_WEEK_STR', 'DEP_DELAY_NEW', 'DEP_DEL15', 'ORIGIN_Name',
       'ORIGIN_IATA', 'ORIGIN_ICAO', 'ORIGIN_Latitude', 'ORIGIN_Longitude',
       'DEST_Name', 'DEST_IATA', 'DEST_ICAO', 'DEST_Latitude',
       'DEST_Longitude'],
      dtype='object')

In [334]:
df2

,YEAR,DAY_OF_WEEK,DAY_OF_WEEK_STR,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_Name,ORIGIN_IATA,ORIGIN_ICAO,ORIGIN_CITY_MARKET_ID,...,DEST_STATE_ABR,DEST_Latitude,DEST_Longitude,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15
0,2019,6,Sat,2019-01-19,13487,1348702,Minneapolis St Paul International Wold Chamber...,MSP,KMSP,31650,...,KY,39.04,-84.66,1832.0,-25.0,0.0,0.0,-10.0,0.0,0.0
1,2019,7,Sun,2019-01-20,13487,1348702,Minneapolis St Paul International Wold Chamber...,MSP,KMSP,31650,...,KY,39.04,-84.66,1825.0,-37.0,0.0,0.0,-4.0,0.0,0.0
2,2019,1,Mon,2019-01-21,13487,1348702,Minneapolis St Paul International Wold Chamber...,MSP,KMSP,31650,...,KY,39.04,-84.66,1845.0,-17.0,0.0,0.0,-9.0,0.0,0.0
3,2019,2,Tue,2019-01-22,13487,1348702,Minneapolis St Paul International Wold Chamber...,MSP,KMSP,31650,...,KY,39.04,-84.66,1839.0,-23.0,0.0,0.0,-4.0,0.0,0.0
4,2019,3,Wed,2019-01-23,13487,1348702,Minneapolis St Paul International Wold Chamber...,MSP,KMSP,31650,...,KY,39.04,-84.66,1850.0,-12.0,0.0,0.0,-6.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690175,2019,3,Wed,2019-01-30,13930,1393007,Chicago O'Hare International,ORD,KORD,30977,...,CO,39.86,-104.67,1439.0,239.0,239.0,1.0,256.0,256.0,1.0
690176,2019,3,Wed,2019-01-30,14057,1405702,Portland International,PDX,KPDX,34057,...,IL,41.97,-87.90,1225.0,-27.0,0.0,0.0,-9.0,0.0,0.0
690177,2019,3,Wed,2019-01-30,13930,1393007,Chicago O'Hare International,ORD,KORD,30977,...,CA,33.67,-117.86,2230.0,17.0,17.0,1.0,35.0,35.0,1.0
690179,2019,3,Wed,2019-01-30,14635,1463502,Southwest Florida International,RSW,KRSW,31714,...,IL,41.97,-87.90,2035.0,113.0,113.0,1.0,132.0,132.0,1.0
690180,2019,3,Wed,2019-01-30,11618,1161802,Newark Liberty International,EWR,KEWR,31703,...,IL,41.97,-87.90,841.0,37.0,37.0,1.0,32.0,32.0,1.0

In [333]:
df2 = df2.reindex(columns=['YEAR', 'DAY_OF_WEEK', 'DAY_OF_WEEK_STR', 'FL_DATE', 'ORIGIN_AIRPORT_ID',
 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_Name', 'ORIGIN_IATA', 'ORIGIN_ICAO', 'ORIGIN_CITY_MARKET_ID',
 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_Latitude', 'ORIGIN_Longitude','DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
 'DEST_Name', 'DEST_IATA', 'DEST_ICAO', 'DEST_CITY_MARKET_ID', 'DEST_CITY_NAME', 'DEST_STATE_ABR','DEST_Latitude',
 'DEST_Longitude','ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15'])

## Add Weather Data

In [348]:
A_df = pd.read_csv('airports_list.csv')
A_df = A_df.drop([ 'DISPLAY_AIRPORT_NAME', 'ORIGIN_CITY_NAME'], axis=1)
A_df.columns = ['AIRPORT_ID', 'NAME']
A_df

    AIRPORT_ID                                               NAME
0        12992                   NORTH LITTLE ROCK AIRPORT, AR US
1        10257                ALBANY INTERNATIONAL AIRPORT, NY US
2        10140           ALBUQUERQUE INTERNATIONAL AIRPORT, NM US
3        10299  ANCHORAGE TED STEVENS INTERNATIONAL AIRPORT, A...
4        10397  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
..         ...                                                ...
92       15370     OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US
93       12264     WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US
94       13851     OKLAHOMA CITY WILL ROGERS WORLD AIRPORT, OK US
95       12191             HOUSTON WILLIAM P HOBBY AIRPORT, TX US
96       10713                          BOISE AIR TERMINAL, ID US

[97 rows x 2 columns]

In [370]:
B_df = pd.read_csv('airport_weather_2019.csv')
B_df['DATE'] = pd.to_datetime(B_df.DATE)
#B_df = B_df[B_df.columns.intersection(['STATION', 'NAME', 'DATE'])]
B_df

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT08,WT09,WESD,WT10,PSUN,TSUN,SN32,SX32,TOBS,WT11
0,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-01,4.70,NaN,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-02,4.92,NaN,0.57,0.0,0.0,56.0,59.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-03,5.37,NaN,0.15,0.0,0.0,52.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-04,12.08,NaN,1.44,0.0,0.0,56.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,2019-01-05,13.42,NaN,0.00,0.0,0.0,49.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38670,USW00093805,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-27,6.04,NaN,0.00,NaN,NaN,68.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38671,USW00093805,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-28,5.37,NaN,0.06,NaN,NaN,69.0,74.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38672,USW00093805,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-29,7.61,NaN,0.10,NaN,NaN,70.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38673,USW00093805,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-30,5.82,NaN,0.02,NaN,NaN,68.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38674,USW00093805,"TALLAHASSEE REGIONAL AIRPORT, FL US",2019-12-31,3.58,NaN,0.00,NaN,NaN,51.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [371]:
new_df = pd.merge(A_df, B_df, how="right", left_on=['NAME'], right_on = ['NAME'])
new_df = new_df.drop([ 'NAME'], axis=1)
new_df

,AIRPORT_ID,STATION,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT08,WT09,WESD,WT10,PSUN,TSUN,SN32,SX32,TOBS,WT11
0,10397.0,USW00013874,2019-01-01,4.70,NaN,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10397.0,USW00013874,2019-01-02,4.92,NaN,0.57,0.0,0.0,56.0,59.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10397.0,USW00013874,2019-01-03,5.37,NaN,0.15,0.0,0.0,52.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10397.0,USW00013874,2019-01-04,12.08,NaN,1.44,0.0,0.0,56.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10397.0,USW00013874,2019-01-05,13.42,NaN,0.00,0.0,0.0,49.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42683,14761.0,USW00093805,2019-12-29,7.61,NaN,0.10,NaN,NaN,70.0,74.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42684,14193.0,USW00093805,2019-12-30,5.82,NaN,0.02,NaN,NaN,68.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42685,14761.0,USW00093805,2019-12-30,5.82,NaN,0.02,NaN,NaN,68.0,72.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42686,14193.0,USW00093805,2019-12-31,3.58,NaN,0.00,NaN,NaN,51.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42687,14761.0,USW00093805,2019-12-31,3.58,NaN,0.00,NaN,NaN,51.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [367]:
df3.columns

Index(['YEAR', 'DAY_OF_WEEK', 'DAY_OF_WEEK_STR', 'FL_DATE',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_Name',
       'ORIGIN_IATA', 'ORIGIN_ICAO', 'ORIGIN_CITY_MARKET_ID',
       'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_Latitude',
       'ORIGIN_Longitude', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_Name', 'DEST_IATA', 'DEST_ICAO', 'DEST_CITY_MARKET_ID',
       'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEST_Latitude', 'DEST_Longitude',
       'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'DEP_DELAY',
       'DEP_DELAY_NEW', 'DEP_DEL15', 'ORIGIN_STATION', 'ORIGIN_DATE',
       'ORIGIN_AWND', 'ORIGIN_PGTM', 'ORIGIN_PRCP', 'ORIGIN_SNOW',
       'ORIGIN_SNWD', 'ORIGIN_TAVG', 'ORIGIN_TMAX', 'ORIGIN_TMIN',
       'ORIGIN_WDF2', 'ORIGIN_WDF5', 'ORIGIN_WSF2', 'ORIGIN_WSF5',
       'ORIGIN_WT01', 'ORIGIN_WT02', 'ORIGIN_WT03', 'ORIGIN_WT04',
       'ORIGIN_WT05', 'ORIGIN_WT06', 'ORIGIN_WT07', 'ORIGIN_WT08',
       'ORIGIN_WT09', 'ORIGIN_WESD', 'ORIGIN_WT10', 'ORIGIN_PSUN',
       'ORIGIN_TSUN', 'ORIGIN_SN32', 'ORIGIN_SX32', 'ORIGIN_TOBS',
       'ORIGIN_WT11', 'DEST_STATION', 'DEST_DATE', 'DEST_AWND', 'DEST_PGTM',
       'DEST_PRCP', 'DEST_SNOW', 'DEST_SNWD', 'DEST_TAVG', 'DEST_TMAX',
       'DEST_TMIN', 'DEST_WDF2', 'DEST_WDF5', 'DEST_WSF2', 'DEST_WSF5',
       'DEST_WT01', 'DEST_WT02', 'DEST_WT03', 'DEST_WT04', 'DEST_WT05',
       'DEST_WT06', 'DEST_WT07', 'DEST_WT08', 'DEST_WT09', 'DEST_WESD',
       'DEST_WT10', 'DEST_PSUN', 'DEST_TSUN', 'DEST_SN32', 'DEST_SX32',
       'DEST_TOBS', 'DEST_WT11'],
      dtype='object')

In [369]:
df3['ORIGIN_STATION'].isna().sum()

55133

In [372]:
col_names = new_df.columns
df2['FL_DATE'] = pd.to_datetime(df2.FL_DATE)

new_df.columns = ["ORIGIN_" + s for s in col_names]
df3 = pd.merge(df2, new_df, how="left", left_on=['FL_DATE', 'ORIGIN_AIRPORT_ID'], right_on = ['ORIGIN_DATE', 'ORIGIN_AIRPORT_ID'])

new_df.columns = ["DEST_" + s for s in col_names]
df3 = pd.merge(df3, new_df, how="left", left_on=['FL_DATE', 'DEST_AIRPORT_ID'], right_on = ['DEST_DATE', 'DEST_AIRPORT_ID'])

df3

,YEAR,DAY_OF_WEEK,DAY_OF_WEEK_STR,FL_DATE,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_Name,ORIGIN_IATA,ORIGIN_ICAO,ORIGIN_CITY_MARKET_ID,...,DEST_WT08,DEST_WT09,DEST_WESD,DEST_WT10,DEST_PSUN,DEST_TSUN,DEST_SN32,DEST_SX32,DEST_TOBS,DEST_WT11
0,2019,6,Sat,2019-01-19,13487,1348702,Minneapolis St Paul International Wold Chamber...,MSP,KMSP,31650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,7,Sun,2019-01-20,13487,1348702,Minneapolis St Paul International Wold Chamber...,MSP,KMSP,31650,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,1,Mon,2019-01-21,13487,1348702,Minneapolis St Paul International Wold Chamber...,MSP,KMSP,31650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019,2,Tue,2019-01-22,13487,1348702,Minneapolis St Paul International Wold Chamber...,MSP,KMSP,31650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,3,Wed,2019-01-23,13487,1348702,Minneapolis St Paul International Wold Chamber...,MSP,KMSP,31650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576835,2019,3,Wed,2019-01-30,13930,1393007,Chicago O'Hare International,ORD,KORD,30977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576836,2019,3,Wed,2019-01-30,14057,1405702,Portland International,PDX,KPDX,34057,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576837,2019,3,Wed,2019-01-30,13930,1393007,Chicago O'Hare International,ORD,KORD,30977,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576838,2019,3,Wed,2019-01-30,14635,1463502,Southwest Florida International,RSW,KRSW,31714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
576839,2019,3,Wed,2019-01-30,11618,1161802,Newark Liberty International,EWR,KEWR,31703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [373]:
from google.colab import files
df3.to_csv('Flights_2019_v3.csv', encoding = 'utf-8-sig')
files.download('Flights_2019_v3.csv')